{% load static %}
{% load i18n %}

{% for identity in identities %}
<div class="card mt-4">
  <div class="card-header">
    {% with identity.get_provider as provider %}
    {% if identity.profile %}<a href="{{identity.profile}}">{% endif %}
      {% if provider.icon %}
      <img style="vertical-align: text-top; height: 1em" class="mr-2" src="{% static provider.icon %}"></img>
      {% else %}
      <span class="mr-2 fa fa-sign-in"></span>
      {% endif %}
      {{provider.label}}:
      {{identity.fullname}} &lt;{{identity.username}}&gt;
      {% endwith %}
    {% if identity.profile %}</a>{% endif %}
  </div>
  <div class="card-body">
    <h5 class="card-title d-flex">
      {% if identity.picture %}
      <img class="personpic ml-auto mr-2" src="{{identity.picture}}"></img>
      {% endif %}
      {% trans "Account information" %}
    </h5>
    <table class="table table-sm">
      <tr><th>{% trans "Last used" %}</th><td>{{identity.last_used|date:"Y-m-d"}}</td></tr>
      {% if identity.subject %}
      <tr><th>{% trans "Remote user reference" %}</th><td>{{identity.subject}}</td></tr>
      {% endif %}
      {% if identity.fullname %}
      <tr><th>{% trans "Full name" %}</th><td>{{identity.fullname}}</td></tr>
      {% endif %}
      {% if identity.username %}
      <tr><th>{% trans "User name" %}</th><td>{{identity.username}}</td></tr>
      {% endif %}
    </table>
    <h5 class="card-title">{% trans "Audit log" %}</h5>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>{% trans "Date" %}</th>
          <th>{% trans "Author" %}</th>
          <th>{% trans "Notes" %}</th>
          <th>{% trans "Changes" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for e in identity.audit_log.all %}
        <tr>
          <td>{{e.logdate|date:"Y-m-d H:i:s"}}</td>
          <td><a href="{{e.author.get_absolute_url}}">{{e.author}}</a></td>
          <td>{{e.notes}}</td>
          <td>
            <ul>
            {% for field, old, new in e.get_changes_list %}
            <li>{{field}}: {{old}} → {{new}}</li>
            {% endfor %}
            </ul>
          </td>
        </tr>
        {% empty %}
        <tr><td colspan="4" class="text-center"><i>{% trans "No audit log for this identity" %}</i></td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endfor %}

