{% extends "nm2-base.html" %}
{% load i18n %}

{% block title %}403 {% trans 'Forbidden' %}{% endblock %}

{% block content %}

<h2>403 {% trans 'Forbidden' %}</h2>

<p>{% trans "We're sorry, but access to the requested page is not allowed." %}</p>

{% endblock %}
