{% extends "process/nm2-base.html" %}
{% load i18n %}

{% block head %}
{{block.super}}
<style>
th.metatitle
{
  text-align: center;
  border: none;
}
</style>
<script type="text/javascript">
(function($) {
"use strict";

function main()
{
    let table = $("#amassign").DataTable({
        paging: false,
        order: [],
    });
}

document.addEventListener("DOMContentLoaded", evt => { main(); });

})(jQuery);
</script>
{% endblock %}

{% block content %}

<h1>Assign AM to {{person.fullname}}</h1>

<table id="amassign" class="table table-sm table-hover">
  <thead>
    <tr>
      <th rowspan="2">AM</th>
      <th rowspan="2">uid</th>
      <th colspan="4" class="metatitle">Slots</th>
    </tr>
    <tr>
      <th>Total</th>
      <th>Active</th>
      <th>Hold</th>
      <th>Free</th>
      <th>Comments</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  {% for am in ams %}
   {% if am.person.status != "dd_e" and am.person.status != "dd_r" %}
    <tr>
      <td><a href="{{am.get_absolute_url}}">{{am.person.fullname}}</a></td>
      <td>{{am.person.ldap_fields.uid}}</td>
      <td>{{am.slots}}</td>
      <td>{{am.stats_active}}</td>
      <td>{{am.stats_held}}</td>
      <td>{{am.stats_free}}</td>
      <td>{{am.fd_comment}}</td>
      <td>
        <form action="{% url 'process_assign_am' pk=process.pk %}" method="post">{% csrf_token %}
          <input type="hidden" name="am" value="{{am.lookup_key}}">
          <button
          {% if am.slots == 0 %}
            class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" title="This AM set their slots to 0"
          {% elif am.stats_free == 0 %}
            class="btn btn-sm btn-secondary" data-toggle="tooltip" title="This AM has no free slots"
          {% elif am.stats_free < 0 %}
            class="btn btn-sm btn-dark" data-toogle="tooltip" title="This AM is working too hard already!"
          {% else %}
            {% if am.person.status == "dd_u" and process.applying_for == "dd_nu" %}
              class="btn btn-sm btn-warning" data-toggle="tooltip" title="DD_U AMs should be preferably assigned to DD_U processes"
            {% elif am.person.status == "dd_nu" and process.applying_for == "dd_u" %}
              class="btn btn-sm btn-danger" data-toggle="tooltip" title="DD_NU AMs should not be assigned to DD_U processes"
            {% else %}
                class="btn btn-sm btn-primary"
            {% endif %}
          {% endif %}
          type="submit">{% trans "Assign" %}</button>
        </form>
      </td>
    </tr>
   {% endif %}
  {% endfor %}
  </tbody>
</table>

<form action="{% url 'process_assign_am' pk=process.pk %}" method="post">{% csrf_token %}
  <p>Manual assignment: <input type="text" name="am"></p>
  <button class="btn btn-primary" type="submit">{% trans "Assign" %}</button>
</form>

{% endblock %}

