{% extends "process/nm2-base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1>{% blocktrans with person=person %}Apply for a new status for {{ person }}{% endblocktrans %}</h1>

<p class="lead mt-3">{% blocktrans with person=person status=person|desc_status %}The current status of {{person}} is <b>{{status}}</b>.{% endblocktrans %}</p>

{% if current %}
{% trans "Currently open processes:" %}
<ul>
{% for c in current %}
<li><a href="{{c.get_absolute_url}}">{{c.applying_for|desc_status}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if "dm" in person.possible_new_statuses  %}
<div class="important">
<p><strong>{% trans "About the role of Debian Maintainer:" %}</strong> 
{% blocktrans %}the role of <em>Debian Maintainer</em> occasionally gets confused with that of
<em>package maintainer</em>.

If you intend to start maintaining packages in Debian, you do not need to apply
to be a <em>Debian Maintainer</em>.

If in doubt, make sure you talk to your sponsors before applying.</p>{% endblocktrans %}
</div>
{% endif %}

{% if "dm" in person.possible_new_statuses and "dd_u" in person.possible_new_statuses %}
<div class="important">
<p><strong>{% trans "About applying as Debian Developer, uploading without being a Debian Maintainer (DM):" %}</strong>
{% blocktrans %}It's generally recommeneded to have been a DM for about six months
before applying as DD with upload rights.
You can still apply, but you should give some explanation in your declaration of intent,
why it makes sense to skip the DM step in your case.

If in doubt, make sure you talk to your sponsors before applying.</p>{% endblocktrans %}
</div>
{% endif %}

<form action="" method="post">{% csrf_token %}
  {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
  {% for field in form.visible_fields %}
  {{ field.label_tag }}<br>
  {{ field }}<br>
  {{ field.errors }}
  {% endfor %}
  {{ form.non_field_errors }}
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

{% endblock %}
