{% load i18n %}

<p>{% blocktrans %}Every Debian Contributor, to gain access to project resources, needs to know
and agree with these documents:{% endblocktrans%}
<dl>
  <dt><a href="https://www.debian.org/social_contract">{% trans "Debian Social Contract (SC)" %}</a></dt>
  <dd>{% trans "Defines the common principles for all work in Debian" %}</dd>
  <dt><a href="https://www.debian.org/social_contract#guidelines">{% trans "Debian Free Software Guidelines (DFSG)" %}</a></dt>
  <dd>{% trans "Defines what Free Software means for Debian" %}</dd>
  <dt><a href="https://www.debian.org/code_of_conduct">{% trans "Debian Code of Conduct (CoC)" %}</a></dt>
  <dd>{% trans "Defines expectations for communication and behaviour within the Debian community" %}</dd>
  <dt><a href="https://www.debian.org/devel/dmup">{% trans "Debian Machine Usage Policies (DMUP)" %}</a></dt>
  <dd>{% trans "Defines the rules for accessing Debian machines" %}</dd>
</dl>
</p>

<p>{% blocktrans %}Since a person's identity in Debian is defined by the OpenPGP key, we
require a signed statement of agreement for each key that is used in the
project.{% endblocktrans%}</p>

{% if edit %}
<p>{% blocktrans %}This page allows the agreements to be managed automatically. To add or change
the signed agreement to SC/DFSG/CoC/DMUP, paste it in the form below.{% endblocktrans%}</p>
{% endif %}
