{% extends "nm2-base.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "nm.debian.org Frequently Asked Questions" %}</h1>

<p class="lead">
{% blocktrans %}This page contains answers to (more or less) Frequently
Asked Questions about the site.{% endblocktrans %}
</p>

<h2 id="missing-referer">{% trans "The site gives me 403 Forbidden errors if I disable referers" %}</h2>

<p>{% blocktrans %}Believe it or not, that is a security feature. Please see
<a href="http://groups.google.com/group/django-developers/browse_thread/thread/22058adaf11e3ed6">this thread</a>
for more information (look for the string "detonate-bomb" for an attack
scenario).{% endblocktrans %}</p>

{% endblock %}
